*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(200, 200, 248);
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.products .product{
    width: 33.2%;
    padding: 25px;
    margin-bottom: 10px;
}
.products div img{
    width: 100%;
}
h1,h2{
    text-align: center;
}
a{
    display: block;
}
.img{

}
.img img{
    width: 30%;
    background-color: antiquewhite;
}
.swiper {
    width: 600px;
    height: 300px;
  }